#c01 {
    background: url("../Img/c01.jpeg");
    background-size: cover;
    background-position: 50% 50%;
}


#c02 {
    background: url("../Img/c02.jpeg");
    background-size: cover;
    background-position: 50% 50%;
}

h1 {
    background: url("../Img/banq.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: white;
    padding-left: 5%;
    padding-top: 1.5%;
}

h2 {
    font-size: 3em;
    background-color: #F2522E;
    color: white;
}

nav {

    display: flex;
    justify-content: flex-end;
    background-color: #244f61;
    margin: 1% 0 1% 0;
}

li {
    display: inline;

}

.cubierta {
    width: 100vw;
    height: 100vh;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menuitemimg {
    display: block;
    width: 200px;
    height: 300px;
}

.menuitemdesc {
    background-color: #41AED9;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link,
a:visited {
    color: white;
}

a:hover {

    color: #97c5d8;
}