body {
    background-color: #359dd9;
}

nav {
    display: flex;
    background-color: #1e6187;
    height: 10vh;
    align-items: center;
}

ul li {
    display: inline;
}

h1 {
    color: #000344
}

a:link,
a:visited {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

a:hover {
    color: #a29600;
    font-size: 1.5em;

}

p {
    color: white;
}

footer {
    background-color: #1e6187;
}